<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NequeoBase" version="2016.26.1.3" targetFramework="native" />
  <package id="NequeoCollections" version="2016.26.1.6" targetFramework="native" />
  <package id="NequeoComponentModel" version="2016.26.1.1" targetFramework="native" />
  <package id="NequeoExceptions" version="2016.26.1.1" targetFramework="native" />
  <package id="NequeoIOCompress" version="2016.26.1.2" targetFramework="native" />
  <package id="NequeoIOStream" version="2016.26.1.1" targetFramework="native" />
  <package id="NequeoPrimitive" version="2016.26.1.1" targetFramework="native" />
  <package id="NequeoReflection" version="2016.26.1.2" targetFramework="native" />
  <package id="NequeoThreading" version="2016.26.1.1" targetFramework="native" />
</packages>